<link rel="stylesheet" href="/assets/css/info/about-us.css">

<div id="about-us" class="container">
    <div class="row">
        <div class="col-sm-8">
            {{about}}
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12"><b>Phone: </b> {{contact.phone}}</div>
            <div class="col-sm-12"><b>Email: </b> {{contact.email}}</div>
        </div>
    </div>
</div>