<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Palindrome Calculator </title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>