<link rel="stylesheet" href="/assets/css/user/auth.css">
<script src="/assets/js/user/auth.js"></script>

<div class="container">
    <div class="row">
        <div id="forget-password" class="col-sm-6 offset-3">
            <h1>Forget Password</h1>
            <form id="forget-password-form" method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email id">
                </div>
                <button id="forget-password-btn" type="button" class="btn btn-primary" onclick="redirectToForgetPassword()">Forget Password</button>
                <button type="button" class="btn btn-primary" onclick="redirectToLogin()">Login</button>
                <button type="button" class="btn btn-primary" onclick="redirectToSignUp()">Create an Account</button>
            </form>
            <div id="alert" class="alert" role="alert"></div>
        </div>
    </div>
</div>