<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-4">
            <span style="font-size: 172px;">{{code}}</span>
            <p style="font-size: 36px;">{{message}}</p>
        </div>
    </div>
</div>