<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error!</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
        <main>
            <h1>Error!</h1>
            <p>400 status - {{error}}</p>
            <a href="/">Enter a String!</a>
        </main>
    </body>
</html>
    
